{
  "extends": "airbnb-base",
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "plugins": ["chai-friendly"],
  "rules": {
    "comma-dangle": 1,
    "consistent-return": 1,
    "function-paren-newline": ["error", "never"],
    "implicit-arrow-linebreak": ["off"],
    "no-param-reassign": 0,
    "no-underscore-dangle": 0,
    "no-shadow": 1,
    "no-console": 1,
    "no-plusplus": 1,
    "no-unused-expressions": 1,
    "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
    "chai-friendly/no-unused-expressions": 2,
    "linebreak-style": 0
  }
}
